body {
  padding-top: 60px;
  background-color: #F0FFFF;
  font-family: 'Raleway', sans-serif;
}

.mainBGImage {
    background: url(../img/callbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
 font-family: 'Open Sans', sans-serif;
 font-weight: bold;
}

h2{
  font-family: 'Open Sans';
  font-weight: bold;
}

.bigText{
  font-family: 'Raleway';
  font-size: 2.4rem;
}

.navbar-inverse{
  background-color: #333333;
}

.profilesContainer{
  background-color: #fff;
  padding: 6% 6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 4%;
  border: 1px solid #E6E6E6;
}

.profText{
  font-size: 1.6rem;
  color: #3D518C;
  margin: 2%;
}

.profHead{
  font-weight: bold;
  margin: 2%;
  padding: 4px 0 4px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.profImg{
  height: auto;
  width: 30vw;
  margin-bottom: 2vh;
}

div#simple-map{
  height: 300px;
  width: 100%;

.linkyPadd{
  padding-bottom: 2vh;
}
  
