body {
  padding-top: 60px;
  background-color: #F0FFFF;
  font-family: 'Raleway', sans-serif;
}

h1 {
 font-family: 'Open Sans', sans-serif;
 font-weight: bold;
}

h2{
  font-family: 'Open Sans';
  font-weight: bold;
}

.bigText{
  font-family: 'Raleway';
  font-size: 2.4rem;
}

.profilesContainer{
  background-color: #B1EDE8;
  padding: 6% 6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profText{
  font-size: 1.6rem;
  color: #3D518C;
  margin: 2%;
}

.profHead{
  font-weight: bold;
  margin: 2%;
  padding: 0;
}
