<!doctype html>
<html>
  <head>
    <title>DevMatch | Home</title>
    {% include 'head.html' %}
  </head>

  <body>
    {% include 'navigation.html' %}
    <!-- start of form container-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="appHeaders text-center">Welcome to DevMatch <i class="fa fa-play-circle" aria-hidden="true"></i> </h1>
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="container">{% include 'homeForms.html' %}</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>
