<div class="row">
  <div class="col-md-6">
  <h1>{{ msg }}</h1>
    <div class="well">
      <h2 class="text-center">Your Profile</h2>
      <h4 class="text-center">Create your profile and start debugging your love
      life. </h4>
      <br>
      <a class="btn btn-primary btn-lg btn-block" href="{{
      url_for('create_profile') }}">Create your profile</a></a>
    </div> <!-- end well -->
  </div> <!-- end col -->

  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">View our members</h2>
      <h4 class="text-center">Browse our members and search for your perfect
      match</h4>
      <br>
      <a class="btn btn-success btn-lg btn-block" href="#">View your matches</a></a>
    </div> <!-- end well -->
  </div>
</div> <!-- end row -->
