<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Membership</h2>
      <h4 class="text-center">Sign up for basic access and browse our features
      and check out the Process</h4>
      <br>
      <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('basic') }}">Sign up for Basic Membership</a></a>
    </div> <!-- end well -->
  </div> <!-- end col -->

  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Premium Membership</h2>
      <h4 class="text-center">Sign up for the premium account for £5 per month and get access to the community</h4>
      <br>
      <a class="btn btn-success btn-lg btn-block" href="{{ url_for('premium')
      }}">Sign up for Premium Membership</a></a>
    </div> <!-- end well -->
  </div>
</div> <!-- end row -->
