<div class="well">
<form action="{{ url_for('login') }}" method="post">
  <div class="field form-group">
    <label for="user_email">Email</label>
    <br>
    <input autofocus="autofocus" class="form-control" name="user_email"
    type="email">
  </div>
  <div class="field form-group">
    <label for="user_password">Password</label>
    <br>
    <input autocomplete="off" class="form-control" name="user_password"
    type="password">
  </div>
  <div class="actions form-group">
    <br>
    <input class="btn btn-success" name="commit" type="submit" value="Log In">
  </div>  
</form>
</div>
