<!doctype html>
<html>
  <head>
    <title>CallBack | My Profile</title>
    {% include 'head.html' %}
  </head>

  <body>
    {% include 'navigation.html' %}
    <!-- start of form container-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        
            <h1 class="appHeaders text-center">Welcome to your profile page {{ username }} <i class="fa fa-heart-o" aria-hidden="true"></i></h1>
          
          <p class="text-center bigText">This is your profile admin where you
          can read and update your profile</p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          </div>
        </div>
        {% for row in rows %}
          <div class="profilesContainer">
          <!--<p class="text-center profText">{{ row[0] }}</p>-->
          <img src="../static/img/{{ row[5] }}" class="img-responsive profImg center-block">
          <h3 class="text-center profHead">{{ row[1] }}</h3>
          <p class="text-center profText">Location: {{ row[2] }}</p>
          <p class="text-center profText">My likes: {{ row[3] }}</p>
          <p class="text-center profText">I'm looking for a: {{ row[4] }}</p>
          <div id="simple-map" class="center-block">{{googlemap("simple-map", 37.4419, -122.1419)}}</div>
          </div>
        {% endfor %}
      </div> <!-- end row -->
      <br>
      <div class="col-md-4 col-md-offset-4">
      <a class="btn btn-success btn-block" href="{{ url_for('create_profile') }}">Create Profile</a>
      <a class="btn btn-primary btn-block" href="{{ url_for('update_profile') }}">Update Profile</a>
      <a class="pull-left linkyPadd" href="{{ url_for('logout') }}">Log Out</a>
      <a class="pull-right linkyPadd" href="{{ url_for('view_members') }}">View all members</a>
      <br>
      <br>
      </div>
    </div> <!-- end container -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!--<script src="{{ url_for('static', filename='js/custom.js') }}"></script>-->
</html>
