<!-- Collection of nav links and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">                
 -                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>   
                  <li><a href="{{ url_for('genre') }}">Browse</a></li>                     
                  <li><a href="{{ url_for('admin') }}">Admin</a></li>                   
              </ul>              
         </div> <!-- end nav header --> 
     </div>  
 </nav>  
