<div class="well">

<form action="{{ url_for('adduser') }}" method="post">
  <div class="field form-group">
    <label for="email">Email</label>
    <br>
    <input autofocus="autofocus" class="form-control" name="user_email"
    type="text" value="{{ request.form.user_email }}">
  </div>

  <div class="field form-group">
    <label for="password">Password</label>
    <br>
    <input autofocus="autofocus" class="form-control" name="user_password"
    type="text" value="{{ request.form.user_password }}">
  </div>

  <div class="field form-group">
    <label for="username">Username</label>
    <br>
    <input autocomplete="off" class="form-control" name="username"
    type="password" value="{{ request.form.username }}">
  </div>

  <div class="actions form-group">
    <br>
    <input class="btn btn-success" name="commit" type="submit" value="Sign up">
  </div>

</form>
<a href="{{ url_for('login') }}">Log in</a>
</div>
